@model WebAppSistemaVeterinaria.Data.Entities.Manager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>

