@model WebAppSistemaVeterinaria.Data.Entities.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1> Cliente</h1>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Direccion)
        </dd>
        <dt class="col-sm-2">
            # de mascotas
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mascotas.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditPet" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="AddPet" asp-route-id="@Model.Id" class="btn btn-primary">Agregar mascota</a> |
    <a asp-action="Index" class="btn btn-success">Volver a la lista</a>

</div>

@if (Model.Mascotas.Count == 0)
{
                <h4>No hay mascotas agregadas!</h4>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mascotas.FirstOrDefault().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascotas.FirstOrDefault().ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascotas.FirstOrDefault().Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascotas.FirstOrDefault().TipoMascota.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascotas.FirstOrDefault().Nacimiento)
            </th>
            <th>
                Historial
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascotas.FirstOrDefault().Comentarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mascotas)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                 {
                    <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMascota.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Historials.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                <a asp-action="EditPet" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="DetailsPet" class="btn btn-info" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="DeletePet" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
}